{% extends 'base.html' %}

{% block content %}
  <h1>Delete Restaurant</h1>

  <h4>Are you sure you want to delete "{{ object.name }}"?</h4>
  <div class="confirm-delete">
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn-small red">
    </form>
<!--     
    <a href="#">Cancel</a> -->
    <a href="{% url 'detail' restaurant.id %}"" class="btn-small">Cancel</a>
  </div>

  <!-- <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="btn">
    <a href="{% url 'detail' restaurant.id %}">Cancel</a>

  </form> -->
  
{% endblock %}

