{% extends 'base.html' %}

{% block content %}
  <h1>About RestroFinder</h1>
  <hr />
  <h4>Meet the Foodie Dream Team</h4> 

<img src="../static/media/Matt.png">

<div class="team-member-summary">
  <h5>Matt - Full-Stack Developer</h5>
  <p>"Code Cuisine: Crafting Full-Stack Flavors!</p>
</div>

<img src="../static/media/Alan.png">

<div class="team-member-summary">
  <h5>Alan - Database Manager</h5>
  <p>Master of Spreading Foodie Love</p>
</div>

<img src="../static/media/fariha.png">

<div class="team-member-summary">
  <h5>Fariha - CSS Developer</h5>
  <p>Visualizing Food Experiences</p>
</div>

<img src="../static/media/Anush.png">

<div class="team-member-summary">
  <h5>Aunsh - Github Manager</h5>
  <p>Git Master: Weaving Code Spells!</p>
</div>


  <footer>All Rights Reserved, &copy; 2023 RestroFinder</footer>  
{% endblock %}
  