{% extends 'base.html' %}

{% block content %} 

<div class="container">
    <h1>Welcome to RestroFinder</h1>
    <p>Hey there, fellow foodie adventurer! We're not your ordinary restaurant-finding website. Nope, we're the sidekick you never knew you needed in your quest for the perfect meal!</p>
    
    <p>So, who are we, you ask? Well, we're a team of hungry developers who decided to swap our keyboards for forks (don't worry, we cleaned them first). Armed with a passion for great food and a knack for coding, we embarked on a delicious journey to make your dining adventures unforgettable.</p>
   
    <h4>The Tastiest Reviews in Town</h4>
    <div class="reviews">
        <div class="review">
            <p>"I thought I had my life together, then I tasted their truffle fries. Just amazing!"</p>
            <p class="author">- FriesFreak27</p>
        </div>
        <div class="review">
            <p>"A bite of the avocado toast turned me into an avocado philosopher. I see the world in green now!"</p>
            <p class="author">- AvoExplorer</p>
        </div>
    </div>
    
    <p>We're more than an app; we're your foodie sidekick. Exploring cuisines, hunting for flavors, and finding the secret to the ultimate food selfie!</p>
     <p>But enough about us. This journey is all about you and your taste buds! So go ahead, click that "Get Started" button and let the feasting begin. And remember, life's too short for bad food. Let's explore, taste, and laugh our way to the perfect meal!</p>
    

    <p class="signature">The Hungry Dev Team</p>

    <a href="{% url 'index' %}" class="button center">Get Started</a>


</div>


{% endblock %}

