* {
    color: white;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
/* CSS file */
html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.team-member-img {
    height: 250px;
}

.team-members {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.team-members {
    margin: 10px;
}

.team-member-summary{
    margin: 40px 50px;
}

.team-member-summary h5,
.team-member-summary p {
    display: flex;
    justify-content: center;
}

h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.card .card-content p,
.card .card-content span,
.card-panel .teal-text .center-align,
.card-panel input, #no-photos-uploaded {
    color: #673b3b;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding: 0;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.reviews {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.review {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.review p {
    font-style: italic;
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #673b3b;
}

.author {
    font-size: 0.9rem;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9a9797;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

section{
    background-image: url('../../static/media/bg-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    min-height: 100%;
    max-height: fit-content;
}

footer {
    background-color: #673b3b !important;
    height: 55px;
}

.page-footer>.right {
    margin-left: auto;
    order: 2;
}
.navbar-fixed {
    height: 56px;
}

.navbar {
    overflow: hidden;
    background-color: #673b3b;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul li a:hover {
    background: #ddd;
    color: black;
}

.headerLeft {
    float: left;
    display: inline-flex;
    list-style: none
}

.headerRight {
    float: right;
    display: inline-flex;
    list-style: none
}

.container {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 100% !important;
}

table th label {
    font-weight: 600 !important;
    color: #fff !important;
    font-size: 20px !important;
}

table.striped thead tr th {
  background:white;
  color:#673b3b;
  border-radius: 0px;
  position: sticky;
  top: 0;
  text-align: center; 
}

td{
    text-align: center; 
}

#all-restaurant-list {
    height: 620px;
    overflow: auto;
}

#members-details {
    margin-top: 20px;
}

#wishlist {
    margin-top: 25px;
    max-height: 650px;
    overflow: auto;
}

.wishlist-table {
    max-height: 200px;
    overflow: auto;
}

.wishlist-table a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}

#my-wishlist {
    max-height: 450px;
    overflow: auto
}

.image-div img {
    height: 200px;
}

#all-image-div,
#image-row,
#review {
    display: flex;
}

#all-image-div {
    overflow: auto;
    width: 500px;
    padding-top:15px;
    border: 2px solid white;
}

.image-div {
    padding-right: 20px;
    padding-bottom: 20px;
}

#review {
    padding-bottom: 20px;
}

#image-row,
#review {
    justify-content: space-between;
    margin-bottom: 10px;
}

#review-table,
#review-form {
    width: 550px;
}

#review-table {
    height: 300px;
    overflow: auto;
}

.edit-delete-td {
    display: flex;
    justify-content: space-between;
}

.card-action {
    display: inline-flex;
    justify-content: space-between;
    width: 400px;
}

#detail-div.row {
    margin-bottom: 10px
}

form p label {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
#signup-form-div, #login-form-div{
    width: 300px;
    display: inline-flex;
    justify-content: center;
}
#login-form-div{
    margin-top: 30px;
}
form p input,
#review-form form p textarea {
    border: 2px solid #9e9e9e;
}

.datepicker-day-button,
.select-dropdown.dropdown-trigger {
    color: #673b3b;
}

.datepicker-controls .select-month input {
    width: 100%;
}

.confirm-delete {
    display: inline-flex;
    justify-content: space-between;
    width: 300px;
}

.form-div-tag{
    height: 100%;
}

@media only screen and (min-width: 601px){
    .container {
        width: 90%;
    }
}
